@charset "utf-8";
@import "/css/variables.css";
@import "/css/fuentes.css";

body {
	font-family: var(--fuente_primaria);
	height: 100%;
	color: var(--color_texto_normal);
	padding-bottom: var(--separacion_pie);
	background: var(--color_fondo);
}
header h1 {
	font-family: var(--fuente_enfasis);
	text-align: left;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	text-shadow: var(--sombra_texto);
}
.tablon {
	color: var(--color_texto_normal);
	padding: var(--relleno_tablon);
	margin-bottom: var(--separacion_inferior_tablon);
	background: var(--papel);
	box-shadow: var(--sombra_tablon); 
}
.tablon>ul {
	list-style-type: none;
	margin: var(--margen_lista);
	padding: var(--relleno_lista);
}
.tablon>ul li {
	padding-left: var(--sangria_lista);
}
.tablon>ul li:before {
	content: var(--glifo_lista);
	position: absolute;
	left: var(--posicion_lista);
	color: var(--color_glifo_lista);
}
button.boton_enlace {
	font-family: var(--fuente_primaria);
	font-size: var(--tam_fuente_boton_enlace);
	color: var(--color_texto_boton_enlace); 
	text-shadow: var(--sombra_texto);
	background-color: var(--color_fondo_boton_enlace);
	padding: var(--relleno_boton_enlace);
	border: var(--borde_boton_enlace);
	border-radius: var(--borde_radio_boton_enlace);
	cursor: pointer;
	transition: filter var(--tiempo_fulgor), opacity var(--tiempo_fulgor);
	filter: none;
}
button.boton_enlace:hover {
	filter: var(--fulgor_boton_enlace);
	opacity: var(--alfa_fulgor_boton_enlace);
}
#pie_pagina {
	font-family: var(--fuente_enfasis);
	font-size: var(--tam_fuente_pie);
	font-weight: bold;
	color: var(--color_texto_pie);
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	background: var(--color_fondo_pie);
	box-shadow: var(--sombra_tablon);
	padding: var(--relleno_pie);
}
#pie_pagina span:nth-child(1) :nth-child(5) {
	color:var(--color_texto_pie_enfasis);
}
p b, li b {
	color: var(--color_texto_enfasis);
}