@charset "utf-8";
@import "/css/variables.css" ;
@import "/css/fuentes.css";

body {
    font-family:"Eras Demi", Arial, Segoe;
	margin: 0px;
}
div#cuerpo_primario {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
/* 🟠CABECERA */
#panel_superior {
    border-bottom: var(--tam_linea_marco) solid var(--rosa);
    box-shadow: var(--sombra_marco);
}
#cabecera {
    width: 100%;
}
#cabecera_imagen {
    height: var(--tamv_img_cabecera);
	background: var(--color_cabecera) var(--img_cabecera) left no-repeat; 
    box-shadow: var(--sombra_marco);
}
#titulo {
	
    font-size: var(--fuente_cabecera);
	margin: var(--margen_cabecera);
	white-space: nowrap;
	display: flex;
	flex-direction: row;
}
#caja_titulo_logo {
    color: var(--violeta);
    text-shadow: var(--sombra-texto);
    background-color: var(--gris);
	padding: var(--relleno_cabecera);
    border: var(--borde_caja);
    border-radius: var(--radio_caja);
    cursor: pointer;
    transition: background-color var(--tiempo_fulgor);

}
#caja_titulo_logo img {
 	background-color : aqua;
	height: var(--tam_logo);
	width: auto;
}
#caja_titulo_nivel {
    color: rgba(140, 0, 50, 1.00);
    text-shadow: -1px -1px 2px rgba(0, 0, 0, 0.3);
    display: inline-block;
    background-color: rgba(240, 180, 215, 1.00);
    border: 2px outset rgba(255, 195, 230, 0.4);
    border-radius: 5px;
    padding: 10px;
	margin-left: 30px;
}
#caja_titulo_nombre {
    color: rgba(80, 0, 90, 1.0);
    text-shadow: -1px -1px 2px rgba(0, 0, 0, 0.3);
    display: inline-block;
    background-color: rgba(240, 215, 240, 1.00);
    padding: 10px 15px;
    border: 2px outset rgba(255, 230, 255, 0.4);
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.5s;
}
#caja_titulo_logo:hover {
    background-color: rgba(255, 200, 200, 1.00);
}

/* 🟠CUERPO */
main#mainframe {
	display: flex;   
    flex: 1;
    height: auto;
    width: 100%;
}
div#contenido {
    display: block;
    height: 100%;
    width: 100%;
    margin: 0px;
    padding: 0px;
	flex-grow: 1;
	
}
iframe.frame {
    display: block;
    height: 100%;
    width: 100%;
    margin: 0px;
    padding: 0px;
    border: none;
}
/* 🟠PIÉ */
footer#pie_pagina {
    height: 50px;
	position: relative;
	bottom: 0px;
    background-repeat: no-repeat;
    background-position: left 0 100%;
    background-image: url("/img/pie_pagina.png");
    background-color: rgba(210, 180, 220, 1.00);
    box-shadow: 0px -2px 5px 0px rgba(0, 0, 0, 0.4);
}
/* 🟡MENÚ */
#sidebar {
	float: left;
	width: 250px;
    padding: 10px;
	background-repeat: no-repeat;
    background-position: top;
    background-image: linear-gradient(to bottom, rgba(240,220,240,1.00), rgba(140,100,140,1.00));
	box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.4);
	border-bottom: 2px inset rgba(100,50,100,0.6); 
	z-index: auto;
}
button{
	font-family: Eras, Arial;
	text-align: right;
	text-shadow: -1px -1px 2px rgba(0,0,0,0.5);
	display: block;
	margin-bottom: 5px;
	border-radius: 5px;
	cursor: pointer;
	position: relative;
	padding: 8px;
}
button.boton-menu {
	font-size: 18px;
	letter-spacing: 1px;
	color: rgba(224,224,224,1.00);
	width: 250px;
	background-color: rgba(100,50,140,1.00);
	border: 2px outset rgba(150,100,190,0.4);
	transition: background-color 0.5s;
}
.boton-menu:hover {
	color: rgba(240,240,240,1.00);
	background-color: rgba(140,90,180,1.00);
}
.boton-menu:active {
	color: rgba(240,200,200,1.00);
	background-color: rgba(180,90,180,1.00);
}
.submenu {
    display: block;
	overflow: hidden;
    padding-left: 15px;
	transition: 400ms ease-in-out;
}
button.boton-submenu {
	font-size: 16px;
	color: rgba(224,224,224,1.00);
	height: 38px;
    width: 233px;
 	background-color: rgba(170,60,120,1.00);
	border: 2px outset rgba(240,110,200,0.4);
	transition: background-color 0.5s; 
}
.boton-submenu:hover {
	color: rgba(240,240,240,1.00);
	background-color: rgba(210,100,160,1.00);
}
.boton-submenu:active {
	color: rgba(240,200,200,1.00);
	background-color: rgba(250,100,160,1.00);
}

