@charset "utf-8";
@import "/css/variables.css";
@import "/css/fuentes.css";




#tcabecera_portada {
	height: 100%;
	padding: var(--relleno_cabecera_contenido);
	border: var(--borde_cabecera_contenido) ;
	background: url("/img/fondo_titulo.webp");
	box-shadow: var(--sombra_marco);
	margin-top: var(--separacion_superior_cabecera);
	margin-bottom: var(--separacion_inferior_cabecera);
}

#tcabecera_portada>div>h1:nth-child(1) {
  	font-size: var(--tam_fuente_pretitulo);
	padding: var(--relleno_titulos);
  	color: var(--color_pretitulo);
}
#tcabecera_portada>div>h1:nth-child(2) {
  	font-size: var(--tam_fuente_titulo);
	padding: var(--relleno_titulos);
  	color: var(--color_titulo); 
}
