@charset "utf-8";
@import "/css/variables.css";
@import "/css/fuentes.css";

body {
	font-family: var(--fuente_primaria);
	overflow: hidden;
}
#principal_portada {
	height: 100%;
	display: flex;
	flex-direction: column;
	margin: var(--margen_externo);
}
#tcabecera_portada {
	height: 100%;
	padding: var(--relleno_cabecera_contenido);
	border: var(--borde_cabecera_contenido) ;
	background: url("/img/fondo_titulo.webp");
	box-shadow: var(--sombra_marco);
	margin-top: var(--separacion_superior_cabecera);
	margin-bottom: var(--separacion_inferior_cabecera);
}

#tcabecera_portada div:first-child {
  	font-size: var(--tam_fuente_pretitulo);
	padding: var(--relleno_titulos);
  	color: var(--color_pretitulo);
}
#tcabecera_portada div:last-child {
  	font-size: var(--tam_fuente_titulo);
	padding: var(--relleno_titulos);
  	color: var(--color_titulo); 
}

#cuerpo_portada img {
  	height: auto;
  	max-width: var(--ancho_imagen_max);
  	width: var(--ancho_imagen_relativo);
  	display: block;
  	margin-left: auto;
  	margin-right: auto;
  	border: var(--borde_imagen); 
}
#cuerpo_portada article {
	padding: var(--relleno_articulo);
}


